doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/Index.css')
    title Storage 
  
  body 
    .container
      .main
        .user 
          h1 ชื่อ: #{nameUser.name}
          h1 ฝ่าย: นักศึกษา

        .navbar
          a(href="/index") ยืม/คืน
          a(href="/ustorage") คลังอุปกรณ์
          a(href="/ustorage") ค้างการคืน

        .logout
          a(href="/logout") Logout 


      .page 

        .pagename
          h1 ยืม/คืน อุปกรณ์

        .title 
          a1 รูปภาพอุปกรณ์
          a1 ชื่ออุปกรณ์
          a1 จำนวนอุปกรณ์

        .inpage 
          .inputData 
            .inputPicItem 
              input(
                class="inputdata"
                type="number"
                name="itempic" 
                id="itempic" 
                placeholder="URL :"
              )
            
            .inputNameItem
              input(
                class="inputdata"
                type="number"
                name="itemname" 
                id="itemname" 
                placeholder="ชื่อ :"
              )

            .inputAmountItem
              input(
                class="inputdata"
                type="number"
                name="itemamount"
                id="itemamount"
                placeholder="จำนวน :"
              )

          .submitItem
              input(
                class="addButton"
                type='submit'
                id="item" 
                value="เพิ่ม/ลด"
              )














//- doctype html
//- html(lang="en")
//-   head
//-     meta(charset="UTF-8")
//-     meta(http-equiv="X-UA-Compatible", content="IE=edge")
//-     meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-     link(rel='stylesheet', href='/stylesheets/style.css')
//-     link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
//-     title Document
//-   body 
//-     h1= title
//-     p Welcome to #{title}
//-     if user 
//-       p #{user.username}
//-       p #{user.name}
  